html{
    font-size: 62.5%;
}

*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

:root{
    --primary-color: #D1D5DB;
    --primary-bg: #283046;
    --primary-bg-content: #161D31;
    --text-purple:  rgb(115 103 240);
}

//side-nav
.sidenav-item{
    .active{
        background-image: linear-gradient(310deg, #5e72e4, #5e72e4);
    }
}

.nav-link-text{
    color: #fff;
    text-decoration: none;
}

.bg-color-sidenav{
    background-color: #172b4d;
}



.bg-color{
    background-color: #283046;
}

.bg-color-content{
    background-color:#161D31 ;
}

.text-color{
    color: #D1D5DB !important;
}

.text-purple{
    color: rgb(115 103 240);
}